body{
background-color: black;
background-image: url(https://e0.pxfuel.com/wallpapers/1010/450/desktop-wallpaper-iphone-gradient-minimalist-gradient.jpg);
background-size: cover;
}
#page1{
    
}
#container-fluid{
     background-color: black;

}

 